#contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #67AAF9;
}

.contact-card a {
  text-decoration: none;
  color: white;
  font-size: 48px;
}

.contact-card a:hover {
  color: #67AAF9;
}

.contact-icons {
  width: 60%;
  display:flex;
  justify-content: space-around;
}
